:root {
  background-color: #29224E;
  width: 100vw;
  height: 100vh;
  color: #ffffff;
}

.nav {
  display: flex;
  justify-content: space-around;
  background-color: #211A36;
  margin: -10px -8px -8px -8px;
  color: #ffffff;
  padding-top: 35px;
  padding-bottom: 20px;
  font-size: 2em;
  font-weight: bold;
}

.dashboard, .home, .about {
  margin-top: 80px;
  margin-left: 20px;
}

.dashboard h1 {
  text-align: center;
}

.nav a {
  color: white;
  text-decoration: none;
}

table {
  margin-left: auto;
  margin-right: auto;
  color: #000000;
  border-collapse: collapse;
  background-color: #ffffff;
}

thead {
  font-size: 1.6rem;
  text-align:left;
}

th {
  padding-bottom: 15px;
}

th, tr, td {
  font-size: 1.4rem;
  border-bottom: 1px solid #000000;
  padding: 20px 60px 15px 40px;
  }

  .link a {
    text-decoration: none;
    color: black;
  }

  .individual-stock {
    margin-top: 50px;
    margin-left: 40px;
    font-weight: bold;
  }